<body id="image-background">

  <div class="container">

    <nav class="navbar navbar-light">
      <h1>
        <a class="navbar-brand text-warning" [routerLink]="['']">LOGO</a>
      </h1>
      <form class="form-inline">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"  [routerLink]="['SignUp']"> Sign In</button>
      </form>
    </nav>

    <router-outlet></router-outlet>


    <h6 class="fixed-bottom text-warning text-center">By Bictia Movies for Bictia all right reserved - About Us</h6>
  </div>
</body>