
 

<body id="image-background">
  <div class="color">
  <div class="container">

    <nav class="navbar navbar-light">
      <h1>
      
        <a class="navbar-brand text-warning" [routerLink]="['']"><img src="../../../assets/images/logo.jpg" alt="logo" width="140px" height="40px" style="border-radius: 8px;"></a>
      </h1>
      <form class="form-inline">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"  [routerLink]="['login']"> Login</button>
      </form>
    </nav>

    <router-outlet></router-outlet>


    <h6 class="fixed-bottom text-warning text-center font">By Bictia Movies for Bictia all right reserved - About Us</h6>
  </div>
</div>
</body>
