<app-home></app-home>


<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        Sign In  <a class="font-small" routerLink="/signup"> or Sign Up here</a>
                        <button class="close" routerLink="/">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

                            <!-- Input email-->
                            <div class="form-group">
                                <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" class="form-control" placeholder="Enter your Email" required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                                </div>
                                <div *ngIf="signInForm.submitted && email.errors">
                                  <h6 *ngIf="email.errors.required" class="validation-message text-danger text-center font-small">This field is required.</h6>
                                  <h6 *ngIf="email.errors.pattern" class="validation-message text-danger text-center font-small">Invalid email address.</h6>
                                </div>

                            <!--Input Password-->
                            <div class="form-group">
                                <input type="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" name="password" placeholder="Enter your Password" minlength="4" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                                </div>
                                <div *ngIf="signInForm.submitted && password.errors">
                                  <h6 *ngIf="password.errors.required" class="validation-message text-danger text-center font-small">This field is required.</h6>
                                  <h6 *ngIf="password.errors.minlength" class="validation-message text-danger text-center font-small">Minimun 4 characters.</h6>
                            </div>

                            <button class="btn btn-warning btn-block">
                                Sign In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
