<app-home></app-home>

<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        Sign Up<a class="font-small" routerLink="/signin"> or make login</a>
                        <button class="close" routerLink="/">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter Your Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Your Password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label">Accept the Conditions of Use</label>
                                <div>
                                    <a class="font-small" routerLink="/terms">know the terms and conditions of use
                                        clicking here</a>
                                </div>
                            </div>
                            <button class="btn btn-warning btn-block">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>