<app-home></app-home>

<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        Sign Up<a class="font-small" routerLink="/signin"> or make login</a>
                        <button class="close" routerLink="/">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <form (submit)="signUp()">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.name" name="name" id="name" class="form-control" placeholder="Enter Your Name" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="user.lastname" name="lastname" id="lastname" class="form-control" placeholder="Enter Your Last Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" [(ngModel)]="user.email" name="email" id="email" class="form-control" placeholder="Enter Your Email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="Enter Your Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" [(ngModel)]="user.confirmpassword" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm Your Password" required>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="terms" id="terms" class="form-check-input">
                                <label class="form-check-label">Accept the Conditions of Use</label>
                                <div>
                                    <a class="font-small" routerLink="/terms">know the terms and conditions of use
                                        clicking here</a>
                                </div>
                            </div>
                            <button class="btn btn-warning btn-block">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>