<app-loading *ngIf="loadingPelicula"></app-loading>
<div class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>

            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
                <br>
                Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
                <br>
                Nombre: {{pelicula.original_title}}
            </p>
            <div *ngIf="Onward===pelicula.original_title">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pds_3UZPmuQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div *ngIf="Mortal_Kombat===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1h3mGwgc89o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

             <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>
          <button>
            <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
            </svg>
          </button>

        </div>
    </div>
</div>
