<app-loading *ngIf="loadingPelicula"></app-loading>
<div class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>

            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
                <br>
                Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
                <br>
                Nombre: {{pelicula.original_title}}
            </p>
            <div *ngIf="Onward===pelicula.original_title">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Yq8JqHHX4V8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div *ngIf="Mortal_Kombat===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1h3mGwgc89o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="The_Willoughbys ===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/Zz0jbZcdb-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Cars===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/_e4mlfFe1cc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Spies_in_Disguise===pelicula.original_title">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/e9jhG7fAudY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Frozen===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/dX86A4y6JsE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Zootopia===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/2enc7mXMd4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Fine===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/uKw0CN7dwKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="LEGO_DC_Shazam===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/EWqzqkxOsnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Aladdin===pelicula.original_title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1ne8STiRnUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Trolls_World_Tour===pelicula.original_title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CaMIybleEHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Inside_Out===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/fUUr10Up3AY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Big_Hero_6===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/ZPFkLhM84pA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="shin===pelicula.original_title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_IICLOEeYsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Toy_Story_4===pelicula.original_title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Vc3JankIyQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Ralph_Breaks_the_Internet===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/kXoQypmZMko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Mortal_Kombat===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1h3mGwgc89o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Frozen_II===pelicula.original_title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oPso2qttdQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Mortal_Kombat===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1h3mGwgc89o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
               <div *ngIf="Mortal_Kombat===pelicula.original_title">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/1h3mGwgc89o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

              
             <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>
     
        </div>
    </div>
</div>